header .shop-cart .item .delete-icon{
    color: #ca5252;
    float: right;
    position: relative;
    top: -15px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}
  
header .shop-cart .item .delete-icon:hover{
    color: #d83030;
    transform: scale(1.2);
}