header .shop-cart-button{
    float: right;
    cursor: pointer;
    transition: color, transform 500ms ease;
}
  
header .shop-cart-button:hover,
header .shop-cart-button.active{
    color: #dc3d3d;
    transform: scale(1.25);
}
header .shop-cart {
    position: absolute;
    top: 30px;
    right: 0;
    width: 450px;
    background: #fafafa;
    -webkit-box-shadow: 4px 5px 15px -7px #606060;
    box-shadow: 4px 5px 15px -7px #606060;
    z-index: 100;
    padding: 20px;
    padding-bottom: 0;
}
