.full-item{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
}
  
.full-item > div{
    width: 600px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 10px;
}
.full-item img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
}
.full-item h2, .full-item p, .full-item b{
    margin: 10px 20px;
    color: #333;
}
.full-item b{
    color: #5fa36a;
}
.full-item .add-to-cart{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    transition: transform 500ms ease;
}