@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700&family=Montserrat:wght@300;600&display=swap');
@import url(./blocks/header/header.css);
@import url(./blocks/shop-cart/shop-cart.css);
@import url(./blocks/full-item/fullItem.css);
@import url(./blocks/categories/categories.css);
@import url(./blocks/item/item.css);
@import url(./blocks/main/main.css);
@import url(./blocks/add-to-cart/addToCart.css);
@import url(./blocks/presentation/presentation.css);
@import url(./blocks/design/design.css);
@import url(./blocks/page/page.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/delete-icon/deleteIcon.css);

header .shop-cart .empty h2{
  font-size: 20px;
  margin-bottom: 20px;
}

header .shop-cart .summa {
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}