main .add-to-cart{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #000;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    transition: transform 500ms ease;
  }
  
  main .add-to-cart:hover{
    transform: scale(1.25) translateY(-5px);
  }